.profile {
    width:30%;
}
.padding-bot {
    padding-bottom: 12px;
}
.padding-LR {
    padding-left: 20px;
    padding-right: 20px;
}
.zero-padding {
    padding-top: 0px;
    
    padding-right: 0px;
    padding-left: 0px;
}
.zero-margin {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
.flex {
    align-items: flex-end;
}